@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300;500;900&display=swap');


html {
    background-color: rgb(182, 182, 182);
    font-family: sans-serif;
    overflow-x: hidden;
}
body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    justify-content: center;
    background: linear-gradient(-45deg, #09162e, #0f0c0e, #102f3a, #0d221d); 
	background-size: 400% 400%;
    animation: gradient 25s ease infinite;
}

.ERRORPAGE{
    cursor:pointer;
    text-decoration:none;
}

.ERRORPAGE:hover{
    cursor:pointer;
    text-decoration:none;
}

h1,h2,h4,h5,h6{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3px;
    margin: 0px;
}
h1,h2,h3,h4,h5,h6{
    color:rgb(235, 233, 233);
}
h3{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    font-weight: 500;
    margin: 0px;
}
p,a,li,ul,input{
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1.5px;
    font-size: 1em;
}

.movingBg{
    background: linear-gradient(-45deg, #3d3c3c, #0f0c0e, #102f3a, #0d221d);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

